#page1 {
  .bg {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    background: url('../img/page1/bg.jpg') center center no-repeat;
    background-size: cover;
  }
}
