@padding: 10px;
@margin: 10px;
@border: 1px solid;

.full {
	width: 100%;
}
.half {
	width: 50%;
}
.gen_col () {
	.third (@index) when (@index > 0) {
		//default
		(~".third@{index}") {
			width: ((100 / 3) * @index) * 1%;
		}
		.third(@index - 1);
	}
	.third (0) {}
	.third (2);

	.quarter (@index) when (@index > 0) {
		//default
		(~".quarter@{index}") {
			width: ((100 / 4) * @index) * 1%;
		}
		.quarter(@index - 1);
	}
	.quarter (0) {}
	.quarter (3);

	.fifth (@index) when (@index > 0) {
		//default
		(~".fifth@{index}") {
			width: ((100 / 5) * @index) * 1%;
		}
		.fifth(@index - 1);
	}
	.fifth (0) {}
	.fifth (4);

	.sixth (@index) when (@index > 0) {
		//default
		(~".sixth@{index}") {
			width: ((100 / 6) * @index) * 1%;
		}
		.sixth(@index - 1);
	}
	.sixth (0) {}
	.sixth (5);

	.seventh (@index) when (@index > 0) {
		//default
		(~".seventh@{index}") {
			width: ((100 / 7) * @index) * 1%;
		}
		.seventh(@index - 1);
	}
	.seventh (0) {}
	.seventh (6);

	.eighth (@index) when (@index > 0) {
		//default
		(~".eighth@{index}") {
			width: ((100 / 8) * @index) * 1%;
		}
		.eighth(@index - 1);
	}
	.eighth (0) {}
	.eighth (7);

	.nineth (@index) when (@index > 0) {
		//default
		(~".nineth@{index}") {
			width: ((100 / 9) * @index) * 1%;
		}
		.nineth(@index - 1);
	}
	.nineth (0) {}
	.nineth (8);

	.tenth (@index) when (@index > 0) {
		//default
		(~".tenth@{index}") {
			width: ((100 / 10) * @index) * 1%;
		}
		.tenth(@index - 1);
	}
	.tenth (0) {}
	.tenth (9);

	.eleventh (@index) when (@index > 0) {
		//default
		(~".eleventh@{index}") {
			width: ((100 / 11) * @index) * 1%;
		}
		.eleventh(@index - 1);
	}
	.eleventh (0) {}
	.eleventh (10);

	.tvelveth (@index) when (@index > 0) {
		//default
		(~".tvelveth@{index}") {
			width: ((100 / 12) * @index) * 1%;
		}
		.tvelveth(@index - 1);
	}
	.tvelveth (0) {}
	.tvelveth (11);
}
.gen_col();

.row-fraction {
	margin-left: 0;
	clear: both;
	.full, .half, [class*="third"], [class*="quarter"], [class*="fifth"], [class*="sixth"], [class*="seventh"], [class*="eighth"], [class*="nineth"], [class*="tenth"], [class*="eleventh"], [class*="tvelveth"] {
		float: left;
	}
}
.row-balance {
	padding: @margin;
}
.row-padding {
	.inner {
		padding: @padding;
	}
}
.row-margin {
	.inner {
		margin: @margin;
	}
}
.row-border {
	.inner {
		border: @border;
	}
}
@media (max-width: 480px) {
	.row-phone {
		.full, .half, [class*="third"], [class*="quarter"], [class*="fifth"], [class*="sixth"], [class*="seventh"], [class*="eighth"], [class*="nineth"], [class*="tenth"], [class*="eleventh"], [class*="tvelveth"] {
			width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.row-adaptive {
		.full, .half, [class*="third"] {
			width: 100%;
		}
		[class*="quarter"], [class*="fifth"], [class*="sixth"], [class*="seventh"], [class*="eighth"], [class*="nineth"], [class*="tenth"], [class*="eleventh"], [class*="tvelveth"] {
			width: 50%;
		}
	}
	.row-tablet {
		.full, .half, [class*="third"], [class*="quarter"], [class*="fifth"], [class*="sixth"], [class*="seventh"], [class*="eighth"], [class*="nineth"], [class*="tenth"], [class*="eleventh"], [class*="tvelveth"] {
			width: 100%;
		}
	}
}